.DroppableArea {
  position: relative;
  width: 800px;
  height: 400px;
}

.RA-Container {
  width: 800px;
}

.DraggableNode {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
}

.DraggableNode span {
  color: black;
  font-weight: bold;
}

.left-arrow {
  position: fixed;
  top: 23.438rem;
  left: 12.5rem;
}

.right-arrow {
  position: fixed;
  top: 23.438rem;
  right: 12.5rem;
}

@media (max-width: 1348px) {
  .left-arrow {
    position: fixed;
    top: 20rem;
    left: 10rem;
  }

  .right-arrow {
    position: fixed;
    top: 20rem;
    right: 10rem;
  }
}
